name: Publish release

on:
  pull_request:
    types:
      - closed
    branches:
      - main

permissions:
  contents: write
  id-token: write

jobs:
  create-tag:
    name: Create tag
    runs-on: ubuntu-latest

    if:
      github.event.pull_request.merged == true &&
      contains(github.event.pull_request.labels.*.name, 'new-release')

    outputs:
      next-version: ${{ steps.get-next-version.outputs.next-version }}

    steps:
      - name: Checkout branch
        uses: actions/checkout@v6

      - name: Get tag name
        id: get-next-version
        run: |
          branch_name="${{ github.event.pull_request.head.ref }}"
          next_version=$(echo $branch_name | sed 's/version\///')
          echo "next-version=$next_version" >> $GITHUB_OUTPUT

      - name: Create tag
        run: |
          git tag "${{ env.NEXT_VERSION }}"
        env:
          NEXT_VERSION: ${{ steps.get-next-version.outputs.next-version }}

      - name: Push tag to origin
        run: git push origin "${{ env.NEXT_VERSION }}"
        env:
          NEXT_VERSION: ${{ steps.get-next-version.outputs.next-version }}
